name = live
group = .
tbegin = 1506648600
tcreate = 1506648600
tstart = 1506648600
tend = 1506648600
updated = 1506648300
expire = 0
maxsize = 0
size = 0
type = 0
locked = 0
status = OK
version = 130
channel = upstream1:+:#0000ff:3:upstream1
#channel = peer2:+::2:peer2
#channel = peer1:+::1:peer1
