JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
ES_PATH_CONF=/etc/elasticsearch
CONF_DIR=/etc/elasticsearch
LOG_DIR=/var/log/elasticsearch
PID_DIR=/var/run/elasticsearch

ES_JAVA_OPTS="-Xms{{ salt['pillar.get']('elastic:java:opts', '30') }}g -Xmx{{ salt['pillar.get']('elastic:java:opts', '30') }}g"
ES_STARTUP_SLEEP_TIME=5
