#!/bin/sh

repo_url={{ salt['pillar.get']('detector:repo') }}
files="ipv4-address-space.csv oui.txt GeoLite2-Country.mmdb GeoLite2-ASN.mmdb"
path=/data/moloch/etc

for file in $files
do
	/bin/rm -vf $path/$file
	/usr/bin/wget -nv "$repo_url/geoip/$file" -O $path/$file
	chmod -c 644 $path/$file
done
