[Unit]
Description=Moloch Capture Service
After=elasticsearch.target

[Service]
Type=simple
ExecStart=/data/moloch/bin/moloch-capture -c /data/moloch/etc/config.ini -n {{ grains['host'] }}
Restart=always
LimitMEMLOCK=infinity
WorkingDirectory=/data/moloch
RestartSec=3

[Install]
WantedBy=multi-user.target
