{% set api = salt['pillar.get']('detector:api', {'host': '127.0.0.1', 'port': '4000'}) %}
{% set connect_test = salt.network.connect(api.host, port=api.port) %}
{% if connect_test.result == True %}
{% 	set certs_config = salt.http.query('http://'+api.host+':'+api.port+'/api/components/nginx', decode=true )['dict'] %}
{% endif %}
{% if certs_config['configuration'] is defined and certs_config['configuration']['ssl_cert'] is defined and certs_config['configuration']['ssl_chain'] is defined %}
{{ certs_config['configuration']['ssl_cert'] }}
{{ certs_config['configuration']['ssl_chain'] }}
{% endif %}
