#!/bin/bash
repo_url={{ salt['pillar.get']('detector:repo') }}
files="ipv4-address-space.csv.gz oui.txt.gz GeoLite2-Country.mmdb.gz GeoLite2-ASN.mmdb.gz GeoLite2-City.mmdb.gz"
path=/srv/s4a-detector/geoip/
services="arkimecapture.service evebox-agent.service"
saltRunning="$(ps -ef | grep -E "/usr/bin/python3.*.state.apply.detector.(evebox|arkime)" | grep -v grep| wc -l)"

{% raw %}
error=()

echo "Updating ipv4 GeoIP Database, ipv4 addressspace and known devices:"

for file in $files
do
        /usr/bin/wget -nv "$repo_url/geoip/$file" -O $path/$file

        if [ -s $path/$file ]
        then
		if $(grep gz$ <<< $file > /dev/null)
	        then
                	gunzip -fq $path/$file
                	file=$(sed 's/.gz//' <<< $file)
        	fi

                chmod -c 644 $path/$file
        else
                error+="$path/$file "
        fi
done

if [ ${#error[@]} -eq 0 ] && [[ "$saltRunning" == "0" ]] && [[ "$1" == "restart" ]]
then
        echo "Restarting $services"
	for service in $services; do systemctl restart $service; done
elif [ ${#error[@]} -ne 0 ]
then
        echo "Missing file: ${error[@]}"
        exit 2
fi
{% endraw %}
