[Unit]
Description=EveBox Agent

[Service]
User=evebox
Group=evebox
ExecStart=/usr/bin/evebox agent --enable-geoip

[Install]
WantedBy=multi-user.target
