[Unit]
Description=Arkime Wise Service
After=elasticsearch.target

[Service]
Type=simple
User=nobody
WorkingDirectory=/opt/arkime/wiseService
ExecStart=/bin/sh -c '/opt/arkime/bin/node wiseService.js -c /opt/arkime/etc/wise.ini >> /var/log/arkime/wise.log 2>&1'

[Install]
WantedBy=multi-user.target
