{%- set mem = (salt['grains.get']('mem_total') / 1000) | int %}
{%- if mem >= 96 %}
{%- set heap = '64g' %}
{%- elif mem >= 64 %}
{%- set heap = '32g' %}
{%- elif mem >= 16 %}
{%- set num = ((mem - 8) / 2) | int %}
{%- set heap = num ~ 'g' %}
{%- else %}
{%- set heap = '2g' %}
{%- endif %}

ES_PATH_CONF=/etc/elasticsearch
CONF_DIR=/etc/elasticsearch
LOG_DIR=/var/log/elasticsearch
PID_DIR=/var/run/elasticsearch
ES_JAVA_OPTS="-Xms{{ heap }} -Xmx{{ heap }} -Dlog4j2.formatMsgNoLookups=true"
ES_STARTUP_SLEEP_TIME=5
