
JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
ES_PATH_CONF=/etc/elasticsearch
CONF_DIR=/etc/elasticsearch
LOG_DIR=/var/log/elasticsearch
PID_DIR=/var/run/elasticsearch
#ES_HEAP_SIZE=30g
ES_STARTUP_SLEEP_TIME=5
