{% set detector_name = salt['cmd.run'](cmd='curl -s http://localhost:4000/api/registration| jq -r .[].unique_name', python_shell=True) %}
{% if salt['file.file_exists']('/etc/default/s4a-detector') %}
{% set multiviewer_enabled = salt['cmd.run'](cmd='grep -i MULTIVIEWER_ENABLED=True /etc/default/s4a-detector|cut -d= -f2', python_shell=True) %}
{% endif %}
{% if salt['file.file_exists']('/etc/elasticsearch/elasticsearch.yml') %}
{% set cluster_name_exists = salt['cmd.run'](cmd='cat /etc/elasticsearch/elasticsearch.yml |grep cluster.name| cut -d" " -f2', python_shell=True) %}
{% endif %}

{% if detector_name is not defined or detector_name == "" %}
cluster.name: Unregistered
{% elif cluster_name_exists is not defined or cluster_name_exists == "" or cluster_name_exists == "my-application" or cluster_name_exists == "Unregistered"%}
cluster.name: {{ detector_name }}
{% else %}
cluster.name: {{ cluster_name_exists }}
{% endif %}
node.name: "{{ salt['grains.get']('host', 'node1') }}"
path.data: /srv/elasticsearch
path.logs: /var/log/elasticsearch
{% if multiviewer_enabled == "True" or multiviewer_enabled == "true" %}
network.host: 0.0.0.0
transport.host: localhost
discovery.type: single-node
discovery.seed_hosts: ["127.0.0.1", "[::1]"]
{% else %}
network.host: _local_
{% endif %}
bootstrap.memory_lock: true
http.port: 9200
transport.port: 9300

gateway.expected_data_nodes: 1
gateway.recover_after_data_nodes: 1

indices.breaker.fielddata.limit: 70%

cluster.routing.allocation.disk.threshold_enabled: true
cluster.routing.allocation.disk.watermark.low: 10gb
cluster.routing.allocation.disk.watermark.high: 5gb
cluster.routing.allocation.disk.watermark.flood_stage: 2gb
cluster.info.update.interval: 1m

{% if salt['file.file_exists']('/etc/elasticsearch/vpn.key')%}
xpack.security.enabled: true
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.key: vpn.key
xpack.security.transport.ssl.certificate: vpn.crt
xpack.security.transport.ssl.certificate_authorities: ca.crt
xpack.security.transport.ssl.client_authentication: optional

xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.key: vpn.key
xpack.security.http.ssl.certificate: vpn.crt
xpack.security.http.ssl.certificate_authorities: ca.crt
xpack.security.http.ssl.client_authentication: optional

xpack.security.authc:
  anonymous:
    username: anonymous_user 
    roles: superuser
    authz_exception: true
{% else %}
xpack.security.enabled: false
{% endif %}
